.boutonc {
	width:100%;
	background-color:white;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #C0AD96;
	}

.ville {
		margin: 1.3px 0 1.3px;
	}

.boximage {
	width: 50%;
	height: auto;
}

h1 {
	color: #827062;
}

p {
	color:#666666;
}