h1 {
	color: #827062;
}

p {
	color:#666666;
}

.page-footer {
  margin-top: 4rem;
  background-color: rgba(241,241,241,0.5);
}


.boutonc {
	width:100%;
	background-color:white;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #C0AD96;
	padding-top: 7px;
	}

.boutoncn {
	width:100%;
	height: 40px;
	background-color: #C0AD96;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	padding-top: 2px;
	color: white;
	font-weight: 600;
	margin-top: 20px; 
	}

.ville {
		margin: 1.3px 0 1.3px;
	}

.boximage {
	width: 50%;
	height: auto;
}

.logoFooter {
	height: 30px;
}

.footerFin {
	padding-bottom: 2rem;
}

.selectCase {
	background-color: #C0AD96;
}

h1 {
	color: #827062;
}

p {
	color:#666666;
}

footer {

}