h1, h2, h3, h4, h5, .navbar li {
	color: #827062;
	font-weight: 600;
}

p {
	color:#666666; /* WHY ? */
}

body {
  padding-top: 16rem; /*obligatoire avec un navbar fix top - debut du texte de la page*/
  background-image: url("../images/wallpaper.png");
  font-family: 'Poiret One', cursive, 'arial';
  font-size: 1.9rem;
}

.row {
	padding: 0 10px 20px 10px;
}

/*   HEADER   */
.navbar {
  height: 12rem; /*hauteur du nav*/
}

.logo {
  margin: 2rem 0 1rem 0;
}

.navbar .container-fluid {
  background-color: #fff;
}

/* NAVBAR & BURGER MENU : ALIGN */
.navbar-nav {
  display: flex;
  justify-content: space-between;
  float: none;
  margin:0;
  padding: 0;
}

/* NAVBAR TITLE MENU */
.navbar-default .navbar-nav > li > a {
  color:#827062;
  font-size: 1.7rem;
}

/* ACCUEIL - PLATS SIGNATURES */
.plats figure {
	position: relative;
	width: 100%;
}

.plats img {
	display: block;
	width: 100%;
  height: auto;
	opacity: 0.9;
}

.plats figure p {
  position:absolute;
	width:100%;
  height: 100%;
	top: 0;
  padding: 17% 1rem;
  margin:0; /*p de base à un margin 0 0 10px 0 - avec 0 on annule l ancien margin */
  opacity: 0;
}

.plats .glyphicon {
  color: #7ede7e;
  font-size: 3rem;
}

.thumbnail a{
  text-decoration: none;
}

.thumbnail a h3{
  margin: 0 ;
  padding: 15px;
}

.thumbnail a:hover h3 {
  color: #C0AD96;
}

.plats figure:hover p {
	opacity: 1;
  background-color:rgba( 	192, 173, 150, 0.6); /*fond marron clair transparent*/
}

.plats figure:hover img {
	opacity: 0.2;
}


/* ACCUEIL - FOUNDERS */
.founders .thumbnail {
  margin-top: 120px;
  border: 1px solid #C0AD96;
}


.founders .rounded {
  border-radius: 50%;
  margin-top: -110px;
  border: 1px solid #C0AD96;
}

.founder_link {
  height: 50px;
  padding: 10px 0;
}

.list_founder {
  display: inline;
	list-style-type: none;
  padding-left: 0px;
}

.founder_link li a {
    color: #C0AD96;
}

.founder_Detail {
  padding: 10px;
}


/* ACCUEIL - PARTNERS */
.partner {
  margin: 1rem 0;
}

.partner img {
  width: 100%;
  height: auto;
}


/* ------ DOCUMENTER !!!! */
.boutonc {
	width:100%;
	background-color:white;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #C0AD96;
	padding-top: 7px;
	}

.boutoncn {
	width:100%;
	height: 40px;
	background-color: #C0AD96;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	padding-top: 2px;
	color: white;
	font-weight: 600;
	margin-top: 20px;
	}

.boutonsub {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

/* ------ DOCUMENTER !!!! */
.ville {
		margin: 1.3px 0 1.3px;
	}

.boximage {
	width: 50%;
	height: auto;
}

.selectCase {
	background-color: #C0AD96;
}


/* ------ DOCUMENTER !!!! */
.thumbnail
{
   padding: 0px;
}


/*.thumbnail>img
{
   max-height: 200px;
}*/

.villeCarte
{
   font-weight: 600;
   position: relative;
   border: 1px solid #827062;
   width: 115px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50px;
   margin-top: -12px;
   color: white;
   background-color: #C0AD96;
}

.signature
{
    font-weight: 600;
    position: relative;
    border: 1px solid #827062;
    width: 115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: -12px;
    color: white;
    background-color: #7ede7e;
}

.aLaCarte
{
    font-weight: 600;
    position: relative;
    border: 1px solid #827062;
    width: 115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: -12px;
    color: white;
    background-color: #7ede7e;
    opacity: 0;
}


/* FOOTER */
.page-footer {
  margin-top: 4rem;
  background-color: rgba(241,241,241,0.5);
}

.logoFooter {
	height: 30px;
}

.footerFin {
	padding-bottom: 2rem;
}

.page-footer .list-unstyled a {
	color: #C0AD96;
}

.footer-copyright, .footer-copyright a {
	color: #827062;
}


@media all and (max-width: 1199px)
{
    /*.thumbnail>img
    {
       min-height: 200px;
    }*/
}

@media all and (max-width: 767px)
{
    /*.thumbnail
    {
        min-height: 200px;
        width: 345px;
        margin: auto;
    }*/
}

