h1, h2, h3, h4, h5, .navbar li {
    color: #827062;
    font-weight: 600;
}

/*-------------*/
/*   HEADER   */
/*-----------*/
body {
  padding-top: 15rem; /*obligatoire avec un navbar fix top - debut du texte de la page*/
  background-image: url("../images/wallpaper.png");
  font-family: 'Poiret One', cursive, 'arial';
  font-size: 1.9rem;
}

.navbar {
  height: 12rem; /*hauteur du nav*/
}

.logo {
  margin: 1rem 0; /*margin top et bottom*/
}

.navbar .container-fluid {
  background-color: #fff;
}

/*Pour centrer le menu dans la nav - le menu burger est en ligne aussi*/
.navbar-nav {
  display: flex;
  justify-content: space-between;
  float: none;
  margin:0;
  padding: 0;
}

/*Titre du menu du navbar*/
.navbar-default .navbar-nav > li > a {
  color:#827062;
  font-size: 1.7rem;
}

/*Plats signatures*/
.plats figure {
	position: relative;
	width: 80%;
	border: 1px solid #C0AD96;
	margin: 0 10% 2rem 10%;
  background-color: #fff;
}

.plats img {
	display: block;
	width: 100%;
  min-height: 200px; /*image dimmension de base : H200px */
	opacity: 0.9;
}

.plats figure p {
  position:absolute;
	width:100%;
  min-height: 200px; /*taille de l image*/
	top: 0;
  padding: 20% 1rem;
  margin:0; /*p de base à un margin 0 0 10px 0 - avec 0 on annule l ancien margin */
  opacity: 0;
  font-size: 1.8rem;
}

.plats figure  a {
  text-decoration: none;
}

.plats figure:hover p {
	opacity: 1;
  /*background-color:rgba(130, 112, 98, 0.5);*/
  background-color:rgba( 	192, 173, 150, 0.6); /*fond marron clair transparent*/
}

.plats figure:hover img {
	opacity: 0.2;
}

.plats .glyphicon {
  color: #7ede7e;
  font-size: 3rem;
}

/*Fondateurs*/
.founders .thumbnail {
  margin-top: 120px;
  border-color: #C0AD96;
}

.founders .rounded {
  border-radius: 50%;
  margin-top: -110px;
  border: 1px solid #C0AD96;
}

.founders .founders_link {
  height: 60px;
  padding: 10px 0;
}

.figure-caption .founders_link ul {
  display: inline;
	list-style: none;
}

.founders .founders_link li a {
    color: #C0AD96;
}



/*Partenaire*/
.partner {
  margin: 1rem 0;
}

.partner img {
  width: 80%;
  height: auto;
}

/*-------------*/
/*   FOOTER   */
/*-----------*/
.page-footer {
  margin-top: 2rem;
  background-color: rgba(241,241,241,0.5);
}
