p
{
   color: #666666;
}

footer
{
   background-color: #F1F1F1;
}

.thumbnail>img
{
   max-height: 200px;
}

.villeCarte
{
   font-weight: 600;
   position: relative;
   border: 1px solid #827062;
   width: 115px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50px;
   margin-top: -12px;
   color: white;
   background-color: #C0AD96;
}

.signature
{
    font-weight: 600;
    position: relative;
    border: 1px solid #827062;
    width: 115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: -12px;
    color: white;
    background-color: #7ede7e;
}

.aLaCarte
{
    font-weight: 600;
    position: relative;
    border: 1px solid #827062;
    width: 115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: -12px;
    color: white;
    background-color: #7ede7e;
    opacity: 0;
}

.thumbnail
{
   padding: 0px;
}

@media all and (max-width: 1199px)
{
    .thumbnail>img
    {
       min-height: 200px;
    }
}

@media all and (max-width: 767px)
{
    .thumbnail>img
    {
        min-height: 200px;
        width: 345px;
    }
}
